[Unit]
Description=CloudStation Daphne
After=network.target

[Service]
Type=simple
User=%u
WorkingDirectory=%h/cloud_station_web
ExecStart=%h/ENV/bin/daphne -b 0.0.0.0 -p 8001 webgms.asgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
